<template>
    <!-- <div class="root">
        <button @click="isOpen = true"> Create New</button>
        <teleport to="body">
            <div class="modal" v-if="isOpen"> -->
    <div class="root">
        <button @click="isOpen = true"> Create New</button>
        <teleport to="body">
            <div class="modal" v-if="isOpen">

                <form @submit.prevent="submit">

                    <div class="space-y-12">
                        <div class="border-b border-gray-900/10 pb-12">
                            <h2 class="text-base font-semibold leading-7 text-gray-900">Profile</h2>
                            <p class="mt-1 text-sm leading-6 text-gray-600">This information will be displayed publicly so
                                be careful what you share.</p>

                            <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">




                            </div>
                        </div>
                        <button @click="isOpen = false" class="mt-6 flex items-center justify-end gap-x-6">Close</button>


                        <div class="border-b border-gray-900/10 pb-12">
                            <div class="col-span-full">

                                    <label for="photo"
                                        class="block text-sm font-medium leading-6 text-gray-900">Photo</label>

                                    <div class="mt-2 flex items-center gap-x-3">
                                        <UserCircleIcon class="h-12 w-12 text-gray-300" aria-hidden="true" />
                                        <button type="button"
                                            class="rounded-md bg-white px-2.5 py-1.5 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">Change</button>
                                    </div>
                                </div>

                            <div class="mt-10 grid sm:grid-cols-6">
                                <div class="sm:col-span-3">
                                    <label
                                        class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                                    <div class="mt-2">
                                        <input type="text" v-model="form.name"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label
                                        class="block text-sm font-medium leading-6 text-gray-900">Nickname</label>
                                    <div class="mt-2">
                                        <input type="text" v-model="form.nickname"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label
                                        class="block text-sm font-medium leading-6 text-gray-900">カタカナ名</label>
                                    <div class="mt-2">
                                        <input type="text" v-model="form.カタカナ名"
                                            autocomplete="katakana-name"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label
                                        class="block text-sm font-medium leading-6 text-gray-900">Resume</label>
                                    <div class="mt-2">
                                        <input type="text" v-model="form.resume"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>

                                <!-- <div class="sm:col-span-3">
                                    <label for="dateHired" class="block text-sm font-medium leading-6 text-gray-900">DATE
                                        HIRED (AWS)</label>
                                    <div class="mt-2">
                                        <input type="date" name="dateHired" id="dateHired" autocomplete="dateHired"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>

                                <div>

                                    <div class="sm:col-span-3">
                                        <label for="ibmRate" class="block text-sm font-medium leading-6 text-gray-900">
                                            Rate</label>
                                        <div class="mt-2">
                                            <input type="text" name="ibmRate" id="ibmRate" autocomplete="ibmRate"
                                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                        </div>
                                    </div>
                                </div>

                                                                <div>

                                    <div class="sm:col-span-3">
                                        <label for="ibmRate" class="block text-sm font-medium leading-6 text-gray-900">IBM
                                            Rate</label>
                                        <div class="mt-2">
                                            <input type="text" name="ibmRate" id="ibmRate" autocomplete="ibmRate"
                                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                        </div>
                                    </div>
                                </div>

                                <div>

                                    <div class="sm:col-span-3">
                                        <label for="ibmRate"
                                            class="block text-sm font-medium leading-6 text-gray-900">UBICOM Rate</label>
                                        <div class="mt-2">
                                            <input type="text" name="ibmRate" id="ibmRate" autocomplete="ibmRate"
                                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                        </div>
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="poUntil" class="block text-sm font-medium leading-6 text-gray-900">PO UNTIL</label>
                                    <div class="mt-2">
                                        <input id="poUntil" name="poUntil" type="date" autocomplete="poUntil"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>


                                <div class="sm:col-span-3">
                                    <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                                        address</label>
                                    <div class="mt-2">
                                        <input id="email" name="email" type="email" autocomplete="email"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6" />
                                    </div>
                                </div>

                                <div class="sm:col-span-3">
                                    <label for="country"
                                        class="block text-sm font-medium leading-6 text-gray-900">Country</label>
                                    <div class="mt-2">
                                        <select id="country" name="country" autocomplete="country-name"
                                            class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:max-w-xs sm:text-sm sm:leading-6">
                                            <option>United States</option>
                                            <option>Canada</option>
                                            <option>Mexico</option>
                                        </select>
                                    </div>
                                </div> -->

                            </div>
                        </div>

                    </div>

                    <div class="mt-6 flex items-center justify-end gap-x-6">
                        <button type="button" class="text-sm font-semibold leading-6 text-gray-900">Cancel</button>
                        <button type="submit"
                            class="rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Save</button>
                    </div>

                </form>
            </div>
        </teleport>
    </div>
    <!-- </div>
        </teleport>

    </div> -->
</template>

<script setup>

import { ref } from 'vue';
import { PhotoIcon, UserCircleIcon } from '@heroicons/vue/24/solid';
import { reactive } from 'vue';
// import { Inertia } from '@inertiajs/inertia';

let form = reactive({
    name: '',
    nickname: '',
    カタカナ名: '',
    resume: ''
});

const isOpen = ref(false)

let submit = () => {
    Inertia.post('create', form);
};


</script>




<style>
.root {
    position: relative;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal>div {
    background-color: #fff;
    padding: 50px;
    border-radius: 10px;
}</style>

let form =
