<template>

    <input type="file" accept=".csv" @change="handleFileUpload($event)" />
</template>

<script>
import Papa from 'papaparse';
import axios from 'axios';

export default {
    name: "CSVUpload",
    data() {
        return {
            csv: null,
            file: '',
            content: [],
            parsed: false
        }
    },
    methods: {


        handleFileUpload(event) {
            this.file = event.target.files[0]
            this.parseFile()
        },
        parseFile() {
            Papa.parse(this.file, {
                header: true,
                skipEmptyLines: true,
                complete: function (results) {
                    this.content = results;
                    this.parsed = true;
                    console.log(this.content.data)
                }.bind(this)
            })

        },
    }
}


</script>
