<template>
    <input type="file" @change="onFileChange" />
</template>

<script>
import readXlsxFile from 'read-excel-file'
export default {
    methods: {
        onFileChange(event) {
            let xlsxfile = event.target.files ? event.target.files[0] : null;
            readXlsxFile(xlsxfile).then((rows) => {
                console.log("rows:", rows)
            })
        }
    }
}

</script>
